.bg-section-secondary {
    background-color: #FAFBFE;
}

.row {
    margin-bottom: 5px;
}
.col100 {
    width: 100%;
    float: left;
}

.col33 {
    width: 33%;
    float: left;
}
.btn-primary {
    color: #FFF;
    background-color: #391ea5;
    border-color: #3a1ea4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.proItemBadge {
    background-color: #ff0000;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 50rem;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
}

@media (min-width: 768px){

}