.product-lists .card{
    margin-bottom: 30px;
    transition: all 0.2s ease;
}

.hover-scale-110:hover{
    transform: scale(1.05) !important;
    transition: all 0.2s ease;
}

.hover-shadow-lg:hover {
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    transition: all 0.2s ease;
}
.row {
    margin-bottom: 5px;
}


.Category-lists .catergory-types{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
.Category-lists .catergory-types li{
    background: #26356a;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 50px;
    padding: 3px 12px;
    font-size: 13px;
    margin: 0 8px 8px 0;
    cursor: pointer;
    transition: 0.3s;
}
.Category-lists .catergory-types li:hover{
    border: 1px solid #26356a;
    background: #fff;
    color: #232269;
}